@model ShopApp.WebUI.Models.ProductListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
   
</head>
<body>
    <a href="/modules/bootstrap/dist/css/bootstrap.min.css">aaa</a>
    @foreach(var item in Model.Products)
    {
        <p>@item.ProductName</p>
    }
</body>
</html>
